# Supabase Studio Dashboard
SUPABASE_DASHBOARD_URL=
SUPABASE_DASHBOARD_USERNAME=
SUPABASE_DASHBOARD_PASSWORD=

# PostgreSQL Database Connection
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_PORT_TRANSACTION=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# Supabase API Keys & Endpoints
SUPABASE_URL=
SUPABASE_PORT=
SUPABASE_ANON_KEY=
SUPABASE_JWT_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Public Routing & Tunnel Configuration
APP_DOMAIN=
APP_WIREGUARD_IP=
APP_PORT=
TUNNEL_VPS_HOST=
TUNNEL_VPS_PUBLIC_IP=
TUNNEL_VPS_WIREGUARD_IP=
